    <header>
          <% if(username.length !== 0){%>
      
      <%} else{%>
	  
        <span class="login">Not Logged in</span>
        <%}%>
         <center> <h1>Niner's Creamery & Frozen Yogurt</h1>
    </header>
