
  <div id="content1">
  <br><br><br><a href="/">Home</a><br><br><br>
  <a href="/categories">Categories</a><br><br><br>
  <a href="/about">About Us</a> <br><br><br>
  <a href="/contact">Contact Us</a><br>
  </div>
