  <nav>
  <a  href="/categories">Flavors</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% if(username.length !== 0){%>
          <a href="myitems">My orders</a>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <%}else {%>
	<a href="signin">My orders</a>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

		<%}%>
  </nav>

<div class="signInSection">
<% if(username.length !== 0){%>
<span class="login">Welcome, <%=username%></span> &nbsp;
          <a href="/signOut">Sign Out</a>
        <%}else{%>
          <a href="/signin">Sign In</a>
        <%}%>
		
</div>
