<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel='stylesheet' href="/stylesheets/style.css">
</head>
<body>
	<% include partials/header.ejs %>
	<% include partials/user-navigation.ejs %>

<section id="show1">
	<div id="show2">
		<div class="ver1">
			<% include partials/site-navigation.ejs %>
		</div>
		<div class="ver2">
          <h3>404 error ..Page Not Found</h3>
		</div>
   </div>
 </section>
	<% include partials/footer.ejs %>
</body>
</html>
