<!DOCTYPE html>
<html lang='en'>
<head>
<title> About </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'/>
</head>

<body>

   <% include ./partials/header.ejs %>
   <% include ./partials/user-navigation.ejs %>
   <% include ./partials/site-navigation.ejs %>
   <div id=content2>
     <h1><b>About Us</b></h1>

 <br>Our goal is also to create the best frozen yogurt experience you've ever had! You create your own combination of delicious, soft-serve premium frozen yogurt, then finish it off with any toppings you choose. <br>
                        <br>Our toppings bar is stocked fresh every day with the best ingredients for a light snack, a decadent dessert, and everything in between.You pick the flavors,you add the toppings,you make it your way!
                    <p>Founded in 1941 by Niner creamery foundation and is currently family-owned and operated. Since becoming part of the Dairy family, the brand has continued its century old tradition of providing the highest quality, freshest, local dairy
                        products. That’s why when it comes to feedng your family, the choice is clear….

                        <br><br>Our cows are never treated with the growth hormone rBST and our local farmers are committed to animal welfare and environmental stewardship.
                        <br><br>In addition to milk we offer a full line of delicious, local dairy products including sour cream, cottage cheese, ice cream, butter and more. That’s why when it comes to feeding your family the choice is clear. <br>
                    </p>
   </div>
  <% include ./partials/footer.ejs %>

</body>
</html>
