<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Niner's Creamery & Frozen Yogurts</title>
<link rel="stylesheet" type = "text/css" href="/stylesheets/style.css">
</head>
<body>

<% include ./partials/header.ejs %>

<% include ./partials/user-navigation.ejs %>
<% include ./partials/site-navigation.ejs %>

<div id="content2">

<button onclick="location.href='/'">Back</button><br>
  <%
  for(var i=0; i<data.categories.length; i++){ %>
      <table class="cat-table">
          <thead>
              <tr>
                  <th class="cat-heading"><%= data.categories[i] %></th>
              </tr>
          </thead>
          <tbody>
              <%
              for(var j=0; j<data.items.length;j++){
                  if(data.categories[i] === data.items[j].catalogCategory){ %>
                  <tr>
                      <td class="cat-items"><a href="/categories/item/<%= data.items[j].itemCode %>"><%= data.items[j].itemName %></a></td>
                  </tr>
                 <% }
              }
               %>


          </tbody>
		
      </table>
      <% }%>

</div><% include ./partials/footer.ejs %>
</body>
</html>
