<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Categories </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <% include partials/header.ejs %>
    <% include partials/user-navigation.ejs %>

    <section id="show1">
      <div id="show2">
      <div class="ver1">
        <% include partials/site-navigation.ejs %>
      </div>
      <div class="ver2">
        <p><a href="index">Home</a>> Categories</p>
		<br><br>
		
		
		
	  <br>
		
		
		
		
		
        <%
           for(var i = 0;i< data.list.length;i++) {%>

             <p><%=data.list[i] %> :</p>
                        <ul>
                          <% for(var j = 0; j< data.items.length; j++ ){
                            if(data.list[i] == data.items[j].catalogCategory){%>
                             <a href="../categories/item/<%= data.items[j].itemCode%>"><%= data.items[j].itemName%></a> <br> <br>
                            <%	}} %>


                    </ul>
                    <%	} %>
      </div>
    </div>
    </section>
    <% include partials/footer.ejs %>
  </body>
</html>
