<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title> Contact </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>

  <section id="show1">
    <div id="show2">
      <div class="ver1">
        <% include partials/site-navigation.ejs %>
      </div>
      <div class="ver2">
          <h1><b>Contact Us</b></h1>
<br>
<b>Niner's Creamery & Frozen Yogurt</b>
<p> 10101 North Tyron Street </p>
<p>Charlotte, North Carolina 28262</p>
<p>Email:ninercreams@uncc.com</p>
      </div>
     </div>
   </section>
<% include partials/footer.ejs %>
</body>
</html>
